.card-container {
  display: grid;
  grid-template-columns: repeat(2, 300px); /* Fixed width for columns */
  gap: 70px;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center; /* This centers the grid items horizontally */
  justify-items: center; /* This centers the content within each grid cell */
}

body {
  background-color: #d2b48c;
  margin: 0;
}

#awsTitle {
  text-transform: uppercase;
  color: #0000;
  font-family: sans-serif;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  background:
    repeating-radial-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 0/2500px
      2500px,
    repeating-conic-gradient(#000 0 0.0001%, #fff 0 0.0002%) 50% 50%/2500px
      2500px;
  background-blend-mode: difference;
  mix-blend-mode: lighten;
  -webkit-background-clip: text;
  background-clip: text;
}

.card {
  position: relative;
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("https://assets.onecompiler.app/42wppdzjp/42wpnjxf3/card_background_bruh.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5;
  z-index: 0;
}

.card > * {
  position: relative;
  z-index: 1;
}

.card h2 {
  margin: 0;
  font-size: 24px;
}

.card p {
  margin: 5px 0;
  font-size: 16px;
  color: #555;
}
