/* aws-frontend/src/assets/variables.css */
:root {
  --color-primary-tan: #d2b48c;
  --color-cream: #f5f5dc;
  --color-text-gray: #555555;
  --color-plant-green: #90a955;
  --color-dark-tan: #c4a484;
  --color-dark-green: #748a41;
}
